{erl_opts, [debug_info]}.
{deps, [{cowboy, "2.12.0"}]}.
{relx, [
    {release, {whackamole, "0.1.0"}, [
        whackamole,
        sasl
    ]},
    {dev_mode, true},
    {include_erts, false}
]}.
{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
{shell, [
    {apps, [whackamole]}
]}.
